footer {
  padding: 0 15px 40px;
}

.logo_section {
  display: grid;
  gap: 25px;
}

.logo_section label {
  display: block;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}

.logo_section input {
  width: 270px;
  height: 40px;
  border: 1px solid #b3bdc7;
  padding: 8px 15px;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #92989f;
}

.logo_section > form > div {
  display: flex;
  gap: 8px;
}
.logo_section button {
  border: 0;
  border-radius: 5px;
  padding: 8px 22px;
  background-color: #2f77f8;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.logo_section input::placeholder {
  color: #92989f;
}

.copyright {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  letter-spacing: 0.1em;
  color: #2f77f8;
  text-align: center;
}

.top_section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  margin-bottom: 130px;
}

.list {
  display: flex;
  gap: 40px;
}

.list_item {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.info {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #ffffff;
}

.info > p {
  margin-bottom: 9px;
}

.info_title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  letter-spacing: 0.1em;
  margin-bottom: 9px;
}

.footer_icons {
  display: flex;
  gap: 10px;
}

/*=============== For medium devices ===============*/
/* xxl */
@media screen and (max-width: 1400px) {
  .list {
    gap: 30px;
  }

  .list_item {
    font-size: 18px;
  }
}

/* xl */
@media screen and (max-width: 1200px) {
  .list {
    gap: 20px;
  }

  .list_item {
    font-size: 16px;
  }
}

/* lg */
@media screen and (max-width: 992px) {
  .top_section {
    gap: 10px;
    margin-bottom: 10px;
    grid-template-columns: repeat(1, 1fr);
  }

  .list {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .info {
    text-align: center;
  }

  .logo_section img {
    margin: auto;
  }

  .logo_section input {
    width: 200px;
  }

  .footer_icons {
    justify-content: center;
  }
}

/* md */
@media screen and (max-width: 768px) {
  .list {
    gap: 10px;
  }

  .list_item {
    font-size: 14px;
  }
}

/* sm */
@media screen and (max-width: 576px) {
  .list {
    gap: 5px;
  }

  .list_item {
    font-size: 12px;
  }

  .info {
    font-size: 14px;
  }
}
