/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #01000f;
}

/*=============== For medium devices ===============*/
/* xxl */
@media screen and (max-width: 1400px) {
}
/* xl */
@media screen and (max-width: 1200px) {
}
/* lg */
@media screen and (max-width: 992px) {
}
/* md */
@media screen and (max-width: 768px) {
}
/* md */
@media screen and (max-width: 576px) {
}
