#banner {
  position: relative;
}

#banner > img {
  width: 100%;
  mask-image: linear-gradient(360deg, #010010 50%, rgba(1, 0, 16, 0) 100%);
}

.banner_title {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 950px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.banner_text {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.1em;
  text-align: left;
  color: #ffffff;
  width: 100%;
  max-width: 1050px;
  padding: 0 15px;
}

/*=============== Media Queries for Responsive Design ===============*/

@media screen and (max-width: 1400px) {
  .banner_title {
    font-size: 36px;
    line-height: 54px;
  }
  .banner_text {
    font-size: 22px;
    line-height: 48px;
  }
}

@media screen and (max-width: 1200px) {
  .banner_title {
    font-size: 32px;
    line-height: 48px;
  }
  .banner_text {
    font-size: 20px;
    line-height: 46px;
  }
}

@media screen and (max-width: 992px) {
  .banner_title {
    font-size: 28px;
    line-height: 42px;
    top: 90px;
  }
  .banner_text {
    font-size: 18px;
    line-height: 30px;
    top: 140px;
  }
}

@media screen and (max-width: 768px) {
  .banner_title {
    font-size: 24px;
    line-height: 36px;
    top: 60px;
  }
  .banner_text {
    font-size: 16px;
    line-height: 24px;
    top: 100px;
  }
}

@media screen and (max-width: 576px) {
  .banner_title {
    font-size: 20px;
    line-height: 30px;
    top: 10px;
  }
  .banner_text {
    font-size: 14px;
    line-height: 22px;
    top: 50px;
  }
}
